.headercontainer{
    display: flex;
    flex-direction: row;
    background-color: navy;
    color: white;
    height: 75px;
    font-weight: 20px;
    }

.home{
    justify-content: right;
    
}

.movies{
    display: flex;
    flex-direction: row;
    justify-content: left;

}